/* components/footer.module.css */
.footer {
    background-color: #eceff1;
    /* Very light gray background */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

.downloadSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appLink {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.contactInfo {
    text-align: left;
}

.socialMediaLinks {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.socialIcon {
    margin: 0 0.5rem;
    cursor: pointer;
}