/* components/header.module.css */
.header {
    background-color: #673ab7;
    /* Purple background */
    display: flex;
    justify-content: space-between;
    /* Space out the logo and other elements */
    align-items: center;
    /* Vertically center all children */
    padding: 0.5rem 1rem;
    /* Adjust padding as needed */
    color: #ffffff;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    /* Additional styling for the logo if needed */
}

.searchBar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    /* Adjust the width as needed */
}

.searchInput {
    border: 2px solid #ffffff;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    outline: none;
    color: #ffffff;
    background: transparent;
    margin-right: 1rem;
}

.searchInput::placeholder {
    color: #dddddd;
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 1.2rem;
    margin-left: 1rem;
    cursor: pointer;
}